.main_product_cart_container {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #737373;
}

.product_cart_image_container {
  width: 30%;
}

.product_cart_title_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product_cart_title_container h2 {
  color: #0e2954;
}

.product_cart_title_container button {
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.product_cart_title_container button:hover {
  background-color: #f8f8f8;
}

.product_cart_price_container {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}