.main_products_list_top_contaienr {
  max-width: 1536px;
  margin: auto;
  margin-top: 100px;
}

.main_products_list_top_contaienr h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0e2954;
  margin-bottom: 10px;
}

.main_products_list_top_contaienr p {
  color: #737373;
}

.products_list_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

.product_left_side_item_container {
  width: 60%;
}

.product_right_side_item_container {
  width: 60%;
  border: 2px solid purple;
}

/* Right side container style__ */

.product_right_side_cart_container {
  width: 30%;
  border-radius: 8px;
  background-color: #f1f5f9;
}

.product_card_title_container {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 2px solid #737373;
}

.product_card_container {
  padding: 20px;
}

.product_price_container {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 10px;
  border-top: 2px solid #737373;
}

.product_price_container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Massage__ */

.product_cart_massage_container h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

/* Active bookmark__ */

.active_bookmark {
  font-size: 18px;
  cursor: not-allowed;
}